* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./imagenes/descarga.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;

}

 span {
    color: rgb(118, 187, 232);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.keys {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    /* flex-grow: initial; */
    /* align-content: stretch; */
    flex-direction: row;
}
.container {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
   justify-content: center;
   height: 100%;
   
}
.key {
    border: 3px solid white;
    border-radius: 5px;
    transition: all .07s;
}
.letter {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: blue;
}
.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}